body{
	background-color: #c69b66;
	color: #666;
}
a{
	color: #666;
}
#premast{
	background-color: #A28053;
	border-color: #64412d;
	color: #ede1bb;
}
#footer a,
#premast a{
	color: #ede1bb;
}
#top{
	color: #ede1bb;
	border-color: #64412d;
	background: #fff url('../images/head_01.jpg');
	cursor: pointer;
}
#top .box{
	background-color: #64412d;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	opacity: 0.7;
	
}
#content .index .infobox span:hover{
	color: #000;
}
.login_box{
	background-color: #f7cf0b;
	border-color: #64412d;
}
#footer a:hover{
	color: #cfd6b4;
}
#content{
	background-color: #ede1bb;
	border-color: #64412d;
}
/* Portfolio */
.contact_page .confirm,
.portfolio .project .content{
	background-color: #F2EACF;
}

/* Login Page */
.login .failed{
	color: #c00;
}
.required_field{
	color: #666666;
}
#footer{
	color: #ede1bb;
}
