body{
	background-color: #d76529;
	color: #666;
}
a{
	color: #666;
}
#premast{
	background-color: #c94326;
	border-color: #64412d;
	color: #ede1bb;
}
#footer a,
#premast a{
	color: #ede1bb;
}
#top{
	color: #000;
}
#content .index .infobox span:hover{
	color: #000;
}
.login_box{
	background-color: #f7cf0b;
	border-color: #64412d;
}
.login_box .login input,
#content .post_admin .submit .field input{
	border-color: #64412d;
	background-color: #d76529;
	color: #ede1bb;
}
#footer a:hover{
	color: #cfd6b4;
}
#content{
	background-color: #ede1bb;
	border-color: #64412d;
}
/* Portfolio */
.contact_page .confirm,
.portfolio .project .content{
	background-color: #F2EACF;
}

/* Login Page */
.contact_body .contact_me input,
.login .login_button input{
	border-color: #64412D;
	background-color: #D76529;
	color: #EDE1BB;
}
.login .failed{
	color: #c00;
}
.required_field{
	color: #666666;
}
#footer{
	color: #ede1bb;
}
